<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83410745392-albqnhjla3ts38866eu5qk15g37eh1q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83410745392-albqnhjla3ts38866eu5qk15g37eh1q4</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IX7X6Cok29vfPSxyCvzfQC2ju_WGnTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>83410745392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shfeyacrud</string>
	<key>PROJECT_ID</key>
	<string>simplecrudshfeya</string>
	<key>STORAGE_BUCKET</key>
	<string>simplecrudshfeya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83410745392:ios:4a0bc04db2cca1c052d5f5</string>
</dict>
</plist>